* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hour_marker {
    fill: transparent;
    stroke: #f0f0c9;
    stroke-width: 8;
    stroke-dasharray: 0.2, 4.8;
    stroke-dashoffset: 0.1;
  }
  
  .minute_marker {
    fill: transparent;
    stroke: #0f0e0e;
    stroke-width: 4;
    stroke-dasharray: 0.2, 0.8;
    stroke-dashoffset: 0.1;
  }

  
.hand {
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
  }

  
  .hand--second {
    stroke: rgb(0, 162, 255);
  }